
*.user

source/iwad/doom2.h

source/iwad/doomu.h

build/

GBADoom.gba

GBADoom.elf

GBADoom.sav

source/iwad/doomu.gba.h

source/iwad/doom1.gba.h

source/iwad/doom2.gba.h

*.gba

source/iwad/sigil.gba.h

source/iwad/tnt.gba.h

GbaWadUtil/DOOM.WAD

GbaWadUtil/DOOM2.WAD

GbaWadUtil/PLUTONIA.WAD

GbaWadUtil/TNT.WAD

source/iwad/doom.c

source/iwad/tnt.c

GbaWadUtil/DOOMU.WAD

source/iwad/doomu.c

source/iwad/doom2.c

~$GBADoomMemory.xlsx

GbaWadUtil/sigil.wad

source/iwad/sigil.c

source/iwad/doom64.c

source/iwad/

.qtc_clangd/
